[2019-10-15 11:46] powerexploit opened #1 "Add more basic scripts"

[2019-10-16 01:38] powerexploit opened #23 "Add system automation scripts"
Try to add some basic automation scipts & with images

[2019-10-16 08:46] sourabbr commented on #1
I would like to Binary search script

[2019-10-16 08:46] boii0boii commented on #1
I would like to add a linear search script.

[2019-10-16 13:32] powerexploit commented on #1
hey sahilverma0696 you can add linear search script !
but try to add some simple scripts specially for beginner's

[2019-10-16 13:33] powerexploit commented on #1
sourabbr  you can add BST

[2019-10-17 17:32] liamplm commented on #23
at Scripts folder or new folder for this type of scripts (like "Automation-Scripts") ?

[2019-10-18 02:12] powerexploit commented on #23
hey liamplm  you can Create new folder

[2019-10-20 16:50] biswain2309 commented on #1
Added script for Armstrong number PR #61. Please review.

[2019-10-20 17:16] powerexploit commented on #1
I have reviewed your code biswain2309 & thanks for contribution

[2019-10-21 00:51] rogerresmini commented on #1
Added script for building a GUI with TKinter. PR #62.

[2019-10-21 02:13] powerexploit commented on #1
checked

[2019-10-23 18:51] Prateek-Thakare commented on #1
Hey @ankitdobhal  can I add script of hangman game implementation in python?

[2019-10-24 03:31] powerexploit commented on #1
Yes @Prateek-Thakare  You can add hangman game implementation script using python

[2019-10-24 11:28] lucassa3 commented on #1
@ankitdobhal Just created a PR for a bubble sort algorithm. Would the addition of more, in depth, explained sorting algorithms be of any use?

Regards,

Lucas

[2019-10-24 13:11] powerexploit opened #65 "Add your scripts to Automation-Scripts folder"
try to add your all automation scripts in new folder that i have created
ii can consider all type of automation scripts using simple python

[2019-10-27 15:11] powerexploit commented on #1
hey @lucassa3 this repo is basically for beginners if you want to explore the sorting algorithms in depth you can create a new folder inside this repo named that as 'Sorting-Algo' and contribute your codes.
Thankyou

[2019-11-18 21:20] lucassa3 commented on #1
@ankitdobhal Can I create a Sorting-Algo folder in the root of the repo with this algo?

[2019-11-18 21:27] lucassa3 commented on #1
@ankitdobhal just updated the PR moving the sorting algo to a new Sorting-Algos folder. Is that what you are looking for?

Cheers!

[2019-11-22 15:19] powerexploit commented on #1
yes

[2020-03-01 08:05] saumyadeshmukh commented on #1
@ankitdobhal  May i add tower of hanoi problem implementation in python?

[2020-03-02 15:20] powerexploit commented on #1
Yes sure

[2020-06-08 20:30] alkatrivedi commented on #1
Can I work on this project? I wanted to add implementation of slicing in python list.

[2020-07-06 02:22] ritiksoni00 commented on #1
Hello to all! i don't know how to contribute, I'm trying by watching youtube to contribute first and want to be in GSOC'21!
can i work with this project?

[2020-07-06 05:31] powerexploit commented on #1
Yes sure @ritiksoni00

[2020-07-31 14:16] Nivedita-coder commented on #65
Hi, I would like to work on this issue , can you suggest me ways to get started?

[2020-08-14 06:14] #65 closed, assigned to nobody

[2020-08-14 06:15] #23 closed, assigned to nobody

[2020-08-14 06:45] powerexploit opened #91 "Add Some Beginner's Basic Python Scripts"
# This issue is specially for those who are new in python and open source.
- Try to add some more basic beginner's friendly python Scripts in Basic-Scripts folder.

# Comment in this issue and start contributing.

[2020-08-14 06:52] powerexploit opened #92 "Add Some Cool Web-Scraping Scripts"
# This is a easy and medium level  Issue.
- **Web scraping is data scraping technique used for extracting data from websites.**
- **Try to add some basic and advance web scraping scripts in Web-Scraping folder.**

# Comment on the issue and start contributing

[2020-08-14 06:57] powerexploit opened #93 "Add Some Image Processing Scripts."
# This is a medium and hard level issue.
 - **Image processing is a method to perform some operations on an image, in order to get an enhanced image or to extract some useful information from it.**
- **Try to add some scripts for image-processing in Image-Processing folder**

# Comment on the issue and start contributing,

[2020-08-14 07:04] powerexploit opened #94 "Add System Automation Scripts"
# This is hard level issue.

- **Scripts allow you to automate tasks not only for fun fact but also some important tasks.**
- **You can automate anything specially command line of Windows,Linux,Ubuntu or Mac.**
- **So try to add some advance and fun based system automation scripts in System-Automation-Scripts folder.**

# Comment on this issue and start contributing.

[2020-08-14 07:48] ryuk156 commented on #93
I am working on this issue

[2020-08-14 07:55] sameersrivastava13 commented on #92
I would like to work on this issue for adding a Web scraping script using python.
@ankitdobhal

[2020-08-14 07:57] sameersrivastava13 commented on #91
@ankitdobhal  I would like to work on this issue for adding a basic python script for the balanced parenthesis problem.

[2020-08-14 08:01] kaustubhgupta commented on #92
I would like to work on this. @ankitdobhal

[2020-08-14 08:09] disha2sinha commented on #93
I am mentor of this issue

[2020-08-14 08:40] twishabansal commented on #92
I would like to work on this too @ankitdobhal

[2020-08-14 08:49] Neilblaze commented on #92
@ankitdobhal assign me as (M)

[2020-08-14 08:57] ryuk156 commented on #93
@disha2sinha so what do you think which library  should we use for OpenCv or we should explore different  libraries

[2020-08-14 09:05] GudlaArunKumar commented on #92
I would like to work on this issue for scraping Hacker news website @ankitdobhal

[2020-08-14 10:19] mohitvirmani49 commented on #91
I would like to work on this python scripts.

[2020-08-14 11:08] disha2sinha commented on #93
You can use opencv or you can use other libraries if you want

[2020-08-14 11:12] Saicharan67 commented on #92
I have a repo of web scraping using python u can assign me for this

[2020-08-14 11:26] Neilblaze commented on #92
[Me](https://github.com/Neilblaze) & [Ankit](https://github.com/ankitdobhal) are the respective mentors of this issue.

@sameersrivastava13 @kaustubhgupta @twishabansal @GudlaArunKumar @Saicharan67 Feel free to work upon this. Try to maintain [clean code](https://github.com/zedr/clean-code-python) protocol & **always follow** contributions [guide](https://github.com/ankitdobhal/Awesome-Python-Scri

[2020-08-14 11:32] akshitasinghal4444 commented on #91
@ankitdobhal I would like to work on this issue. So can you guide me what exactly I have to do.

[2020-08-14 11:34] powerexploit commented on #93
Announcement for All participant @disha2sinha [Mentor] and me @ankitdobhal  [PA] are here as a Project admin and mentor.
We will review your codes.
Feel free to ask @disha2sinha and me @ankitdobhal at slack.
Make good PR and clean code.
Thanks

[2020-08-14 12:28] kritikaparmar-programmer commented on #91
@ankitdobhal Can I also work on this issue?? I would love to add some of the scripts of python

[2020-08-14 12:32] kritikaparmar-programmer commented on #94
Hii @ankitdobhal , Can I add script for automating google search? I want to work on this issue!

[2020-08-14 12:38] ghost commented on #91
@ankitdobhal I would like to take the privilege of working on this issue.

[2020-08-14 12:41] powerexploit commented on #94
Yes sure but contest will start from 16th august start from then.

[2020-08-14 12:49] deepdhar commented on #91
Hey, I woud like to work on this issue.

[2020-08-14 13:26] SwagataJ commented on #93
I want to take up this issue.

[2020-08-14 13:28] ryuk156 commented on #93
I'm already  working you can try another one😅@SwagataJ

[2020-08-14 13:32] PatelKeviin commented on #92
Hi @ankitdobhal and @Neilblaze, I have a web scraping idea to scrape weather website(s) to collect live weather conditions, given a location. Could you please assign me to this issue? Thanks :)

[2020-08-14 13:44] gupta-piyush19 commented on #91
@ankitdobhal i would like to work on this issue, please allow me to do so, i would like to add some python scripts.

[2020-08-14 13:49] SKAUL05 commented on #91
@ankitdobhal Commenting for your reference

[2020-08-14 14:07] souryankit commented on #91
@ankitdobhal i want to add some new scripts in it i can try some thing new . thankyou!

[2020-08-14 14:17] Neilblaze commented on #92
@PatelKeviin Assigning are done to the mentors, the corresponding mentees are instructed to follow the [guide](https://github.com/ankitdobhal/Awesome-Python-Scripts/blob/master/Contribution.md) & create a PR regarding their contibution. If you get stuck, just ping me on slack or mention me [here](https://github.com/ankitdobhal/Awesome-Python-Scripts/issues/92).

[2020-08-14 15:33] powerexploit commented on #91
Announcement for All participant @SKAUL05  [Mentor] and me @ankitdobhal [PA] are here as a Project admin and mentor.
We will review your codes.
Feel free to ask @SKAUL05  and me @ankitdobhal at slack.
Make good PR and clean code.
Thanks

[2020-08-14 16:39] kritikaparmar-programmer commented on #94
Ok 👍

[2020-08-14 16:46] kapilkumar2001 commented on #91
I would like to work on this issue.

[2020-08-14 17:39] veereshbv04 commented on #91
@ankitdobhal  I would love to contribute to this issue

[2020-08-14 20:41] Sanyam2000-dot commented on #93
I would like to work on this issue and add some cool stuff like invisible cloak, road lines detector, face detection.

[2020-08-14 22:45] PatelKeviin commented on #92
@Neilblaze  Ohh, thanks for the clarification. Does that mean I can contribute to this issue?

[2020-08-15 05:20] Sapna2001 opened #97 "Create issue and PR template."
Add issue and PR template

[2020-08-15 05:20] Sapna2001 commented on #97
Please assign me this issue.

[2020-08-15 05:36] powerexploit commented on #92
@PatelKeviin If you are participant in CH20 for this project you can contribute .
I will take PR for CH20 contest participant  for this project.
Even if you want to contribute you can.
Thanks

[2020-08-15 05:42] Joshitha18 commented on #91
@ankitdobhal I'd like to work on this issue

[2020-08-15 06:15] sanusoumya17 commented on #91
@ankitdobhal I would like to contribute to this issue!

[2020-08-15 06:16] sanusoumya17 commented on #92
@ankitdobhal I would like to contribute to this issue too!

[2020-08-15 06:22] anisha282000 commented on #93
I want to work on this issue.

[2020-08-15 06:35] shubham5351 commented on #91
@ankitdobhal I would like to work on this issue for creating list,tuples and sets for particular range.

[2020-08-15 07:02] GudlaArunKumar commented on #93
I would like to work on this issue for converting JPG images to PNG images @disha2sinha

[2020-08-15 07:06] disha2sinha commented on #93
Go on!

[2020-08-15 07:06] disha2sinha commented on #93
Go on

[2020-08-15 07:42] prasadvpatil commented on #91
@ankitdobhal i would like to work on this issue.

[2020-08-15 09:11] snehagupta-4 commented on #91
I'd like to work on this issue.

[2020-08-15 09:58] ashish1816 commented on #91
@ankitdobhal I would like to work in this issue. Please guide me as I am new to open source.

[2020-08-15 11:07] khushboogupta13 commented on #91
@ankitdobhal Can you please explain the issue ? I am new to this Project.

[2020-08-15 11:22] Arsenic-ATG commented on #94
@ankitdobhal if our script comes under both automation and web-scraping then which one should be preferred over other ?
means should we post it under automation or web-scraping ?

[2020-08-15 12:42] powerexploit commented on #94
Yes web scraping script will be under the Web-Scraping folder with the respective #92 issue.

[2020-08-15 12:45] peeky1811 commented on #91
Is this issue solved, can I also contribute? I thought we have to start issuing pull requests tomorrow.

[2020-08-15 13:01] suubh commented on #91
I would like to work on this issue by providing a simple selenium script.

[2020-08-15 13:33] biswas-neelesh96 commented on #91
I would like to work on this issue.

[2020-08-15 15:50] SKAUL05 commented on #91
You can check the existing `Basic` Folder.
You need to contribute scripts like that which are not present already.

[2020-08-15 15:55] ultraUnicorn74 commented on #91
i would like to work on this issue.

[2020-08-15 16:12] sharur7 commented on #94
Hello, @ankitdobhal I want to work on the script for automating sending emails. I want to work on this issue.

[2020-08-15 17:36] neha07kumari commented on #91
I would like to work on this issue

[2020-08-15 21:50] shashwat397 commented on #91
I would like to work on this issue

[2020-08-15 21:55] shashwat397 commented on #93
I would like to work on this issue

[2020-08-16 02:00] PatelKeviin commented on #94
Hi @ankitdobhal, I'd also like to start working on this issue as I am proficient in automation tasks. Thanks!

[2020-08-16 03:25] avinashkranjan commented on #91
I would like to work on the issue and give some scripts as well

[2020-08-16 03:26] avinashkranjan commented on #93
I want to take up this issue. I have a pull request from earlier as well..if you could take and look..

[2020-08-16 03:27] avinashkranjan commented on #94
Hi  I'd also like to start working on this issue..

[2020-08-16 03:39] peeky1811 commented on #91
As Project Admin strictly said, we have to start today, I want to work on this issue please.

[2020-08-16 04:16] peeky1811 commented on #94
Hi @ankitdobhal. Can I make a Flipkart Price Tracker using Python and BeautifulSoup to send an email by taking the URL of the product page, Name of the product and Email-id to be contacted on?
Gopika Murali
Participant at Contributor's Hack '20, HakinCodes

[2020-08-16 04:24] subhayu99 commented on #94
Hi @ankitdobhal

I would like to add a **QR Code Generator** to the repository which converts URLs to QR using Python

Subhayu Kumar Bala
Participant at CH20

[2020-08-16 05:22] nirala96 commented on #91
I would like to work in this issue

[2020-08-16 05:22] prasadvpatil commented on #91
can i work for this issue please

[2020-08-16 05:27] Nagasuruthika commented on #92
@ankitdobhal I would like to contribute to this issue.

[2020-08-16 05:39] TechTarun commented on #92
Hi @ankitdobhal I would like to contribute in this issue and add some scripts to scrape DL information given only the basic inputs. Please assign me in.

[2020-08-16 05:56] Namyalg commented on #94
Hi @ankitdobhal , I would like to work on automating the process of sending whatsapp messages.

[2020-08-16 06:00] Namyalg commented on #94
I am a participant at CH20

[2020-08-16 06:03] santushtisharma10 commented on #91
@SKAUL05 @ankitdobhal I would like to work on this issue

[2020-08-16 06:06] Nagasuruthika commented on #91
I would like to work on this issue.

[2020-08-16 06:07] Nagasuruthika commented on #93
I would like to work on this issue

[2020-08-16 06:16] neha07kumari commented on #91
I would like to work on this issue. Can I ? @SKAUL05  @ankitdobhal

[2020-08-16 06:30] AakritiKinra commented on #91
I would like to work on this issue as part of Contributor's hack 2020. @SKAUL05 @ankitdobhal

[2020-08-16 06:42] incredibleone commented on #91
Being a beginner I interested in contributing to this issue.

[2020-08-16 06:47] jivthesh opened #107 "COC not added to project"

[2020-08-16 06:47] jivthesh commented on #107
@ankitdobhal i would like to work on this issue

[2020-08-16 06:59] Ajay0511 commented on #91
I would like to work on this @SKAUL05 @ankitdobhal .

[2020-08-16 07:04] maansisrivastava commented on #91
I would like to work on this issue @SKAUL05 @ankitdobhal

[2020-08-16 07:15] ankitapuri commented on #91
I would like to work on this issue

[2020-08-16 07:34] AdityaJ7 commented on #94
I would like to work on this issue

CH20 participant

[2020-08-16 07:55] Neilblaze commented on #92
@sameersrivastava13 @kaustubhgupta @twishabansal @GudlaArunKumar @PatelKeviin @sanusoumya17 @Nagasuruthika @TechTarun contribution period starts from today :tada:

You guys can now submit your PR's. I i.e. @Neilblaze am the **Mentor** of this project.

The corresponding mentees are instructed to follow the [guide](https://github.com/ankitdobhal/Awesome-Python-Scripts/blob/master/Contribution.md) &

[2020-08-16 07:56] Neilblaze commented on #92
@TechTarun see this!

[2020-08-16 08:49] DeepNinja07x commented on #91
I would like to commit Stack and Queue implementation using Python for this issue @ankitdobhal

[2020-08-16 09:00] sujal111 commented on #91
I am willing to add more Scripts to the repo of Awesome Scripts.

[2020-08-16 09:36] shubham5351 commented on #91
I would like to work on the issue related to perform complex numbers operations.

[2020-08-16 10:00] GudlaArunKumar commented on #92
@Neilblaze Hi I have raised PR #105. Please review and let me know if any changes required.

[2020-08-16 10:32] Neilblaze commented on #92
I have requested changes on it! Please go through it :)

[2020-08-16 10:40] ditikrushna commented on #93
I am mentor of this issue

[2020-08-16 10:42] avinashkranjan commented on #93
@ditikrushna I want to take up this issue. I have a pull request from earlier as well..if you could take and look..

[2020-08-16 10:46] abhip99 opened #114 "Convert Numbers/Digits to their respective English representation without using library."
I will be working on this issue under HakinCode Contributor's Hack 2020  Contest to add some basic python scripts.

[2020-08-16 11:33] Success0452 commented on #94
I will work on this issue

[2020-08-16 11:43] powerexploit commented on #114
plz comment on the issue created already.

[2020-08-16 11:43] #114 closed, assigned to nobody

[2020-08-16 11:49] Namyalg commented on #94
I would like to write a script for tracking the price of an Amazon product and sending an automated email.
Namya LG
CH20 Participant

[2020-08-16 11:50] Namyalg commented on #92
I would like to work on a script which can be used to download articles from Medium

[2020-08-16 11:53] Neilblaze commented on #92
Sure @Namyalg . Go for it! :+1:

[2020-08-16 12:05] Neilblaze commented on #92
Also, don't forget to add this line while creating your PR ⬇
`In reference to - #92` so that the PR link gets clipped with this issue!

Have Fun :smile:  & Best of Luck everyone :tada:

[2020-08-16 12:19] abhip99 commented on #91
@ankitdobhal I would like to add a script which convert number/digits to their respective English representation without using in-built library

[2020-08-16 12:26] Git-Harshit commented on #91
@ankitdobhal
I would like to add a Beginner-Level Python Script to generate Random Dummy Text, in less than 50 lines of code.

[2020-08-16 12:27] PinkyWalia commented on #91
Hey,@ankitdobhal  I would like to work on this issue.

[2020-08-16 12:34] akshitasinghal4444 commented on #91
@ankitdobhal i would like to work on a vowel remover program

[2020-08-16 13:18] harshareddy794 commented on #92
I would like to work on web scraping @ankitdobhal @Neilblaze . Please assign me to this issue

[2020-08-16 13:53] Neilblaze commented on #92
@harshareddy794 see this!

Feel free to work, submit your pr & follow the contribution guidelines!

[2020-08-16 16:28] Adityanagraj commented on #91
i would like to work on this issue under hakin codes

[2020-08-16 16:37] Mayank662 commented on #91
Hii @ankitdobhal  and  @SKAUL05, I  would like to ADD some CODE here, which calculate the DAY of the WEEK for any given DATE, WITHOUT using any python INBUILT FUNCTION.

[2020-08-16 16:55] malet-ds commented on #91
I would like to work on this under HC20

[2020-08-16 17:05] amandp13 commented on #92
@ankitdobhal I would like to work on this issue

[2020-08-16 17:06] powerexploit commented on #93
@ditikrushna  I have already assign to @disha2sinha as mentor.

[2020-08-16 17:20] pvtr-malli commented on #91
I would like to work on this

[2020-08-16 19:57] Kaushkiraj commented on #93
I would like to work on this issue. I will add basic functions of open CV like how to rotate an image, crop and resize the image, adjust image contrast etc. @disha2sinha

[2020-08-17 02:51] kaustubhgupta commented on #92
@Neilblaze I have raised PR #125 . Let me know if you have reviewed it 😅.

[2020-08-17 03:37] gupta-niharika commented on #91
I would like to work on this. Specifically Flask

[2020-08-17 04:59] #107 closed, assigned to nobody

[2020-08-17 05:01] powerexploit commented on #97
# AIM
- Add PR templates.

[2020-08-17 05:03] powerexploit opened #133 "Add a CODE_OF_CONDUCT.md"
# AIM
- Create a Code of Conduct which all Project Administrators, Mentors and Participants must abide by.

# Details
- Mention the Standards which everyone should abide by on welcoming and inclusive language including constructive criticism.
- Add the required responsibilities for Project Maintainers.
- Mention the Scope of this Code of Conduct.

[2020-08-17 05:07] powerexploit commented on #107
@jivthesh take the issue #133 .

[2020-08-17 06:11] Kaushkiraj commented on #91
@ankitdobhal  I would like to work on this issue. I want to add password manager script.

[2020-08-17 07:02] Adityanagraj commented on #91
I have added a simple staircase program in py #136  please review it

[2020-08-17 07:33] Adityanagraj commented on #92
I have added a covid-19 webscrapping file which  webscrapes a file and stores the data in the csv format for future processing please review it #139

[2020-08-17 07:38] Neilblaze commented on #92
Requested changes on the PR. Please go through it!

[2020-08-17 07:39] Neilblaze commented on #92
Sure @amandp13  . Go for it! :+1:

[2020-08-17 07:40] Neilblaze commented on #92
Requested changes on the PR. Please go through it!

[2020-08-17 08:02] Neilblaze commented on #92
This is a humble request to all the participants:

- Please ensure you explain every section of your code properly before giving Pull Requests.
- Create a separate branch before creating a PR.
- The title of the Pull Requests should be appropriate.
- Please do not forget to link the issue!
- You might split the work for an issue among yourselves but please do not quarrel for claim of work. The aim

[2020-08-17 08:06] Vaibhavabhaysharma commented on #91
Can I also work on this issue?? I would love to add some of the scripts of python.

[2020-08-17 08:39] GudlaArunKumar commented on #93
@disha2sinha Please review my PR #138

[2020-08-17 08:49] shubham5351 commented on #91
I have added script to create different data structures #108 please review it.

[2020-08-17 09:05] shubham5351 commented on #91
@ankitdobhal I would like to work on this issue related to shortening of the url.

[2020-08-17 10:09] amandp13 commented on #91
@ankitdobhal I would like to work on this.

[2020-08-17 10:14] piyushP7pravin commented on #94
Hey, I want to work on Instagram Automation.

[2020-08-17 10:16] Vishakha28998 commented on #91
Would love to work on this.

[2020-08-17 11:03] snehagupta-4 commented on #93
@disha2sinha I want to work on this issue. I've knowledge of opencv ,keras and other related libararies.

[2020-08-17 15:26] zenit-abh commented on #91
@ankitdobhal Sir I want to contribute.

[2020-08-17 16:01] deepakkapse commented on #91
I would like to work this issue under hackincode CH20 @ankitdobhal

[2020-08-17 18:33] gupta-niharika commented on #94
Hi i would like to contribute towards this issue. I could work towards mass mailing.

[2020-08-17 18:49] DeepNinja07x commented on #94
Hi @ankitdobhal, @Neilblaze
I want to contribute to this issue. I would like to add an automated text to voice converter program.

Deepraj Rakshit
Participant at CH20

[2020-08-17 20:01] anshita22 commented on #91
I would love to work on this issue.

[2020-08-17 20:40] Neilblaze commented on #94
@piyushP7pravin & @gupta-niharika Sure! Go for it :+1:

[2020-08-17 20:54] Namyalg commented on #92
I would like to work on a script to download problems of Project Euler

[2020-08-18 06:35] Neilblaze commented on #92
Sure @Namyalg ! Create the PR :rocket:

[2020-08-18 07:36] Namyalg commented on #93
I would like to work on scripts that perform 2-D and 3-D convolution on images, to highlight different features

[2020-08-18 09:15] 510jahnavi commented on #91
I would like to work on this issue. I want to work on python to brush up my skills

[2020-08-18 11:39] GudlaArunKumar commented on #91
@SKAUL05 I would like work on this issue for Adding watermark to PDF

[2020-08-18 14:15] Arundhati1Sharma commented on #91
Can I also work on this issue?? I would love to add some of the scripts of python.

[2020-08-18 15:07] saksheedurshettiwar commented on #91
i would like to contribute on this issue

[2020-08-18 17:26] PratikshaGoyal commented on #93
I would like to work on this issue

[2020-08-18 19:38] sharur7 commented on #94
@ankitdobhal @Neilblaze I want to work on this issue and contribute Twitter Automation code.
Participant at Contributor's Hack '20, HakinCodes
#168

[2020-08-19 03:17] sg23600 commented on #91
I want to work on this and add a few interesting scripts here.

[2020-08-19 06:13] amoghatsunil commented on #93
I would like to work on the issue

[2020-08-19 17:50] komaldevnani commented on #91
I would like to work on this issue.

[2020-08-20 07:26] amandp13 commented on #91
@ankitdobhal Please Review Advance Calculator Script in Python #149

[2020-08-20 17:36] SKAUL05 opened #182 "Add Pull Request Template"
### AIM
- To write a pull request template which would be used as a reference by the contributors while creating PR

### DETAILS
- Include relevant description and checklist

[2020-08-20 19:35] Namyalg commented on #93
I would like to work on the implementation of edge detection in images.

[2020-08-21 04:06] shraddhavp commented on #133
want to work on the issue

[2020-08-21 05:17] AdityaAshvin commented on #182
Can i take up this issue as a part of CH20 @SKAUL05 ?

[2020-08-21 05:24] SKAUL05 commented on #182
Yes @AdityaAshvin  Go Ahead

[2020-08-21 07:36] Gaurav451 opened #186 "password checker"
[Password-checker-master (1).zip](https://github.com/ankitdobhal/Awesome-Python-Scripts/files/5107442/Password-checker-master.1.zip)

[2020-08-21 08:15] kritikaparmar-programmer commented on #93
Hii @ankitdobhal , I want to work on color detection in an image using OpenCV..

[2020-08-21 14:07] souryankit commented on #94
@ankitdobhal sir i would like to submit my pull request #141 in this issue #94 .. plz chek my pull request and merge it.

[2020-08-21 20:22] Namyalg commented on #93
I have made changes to issue #165, please review the same

[2020-08-21 20:31] Namyalg commented on #93
I would like to work on the implementation of canny filter without the use of library functions.

[2020-08-21 20:55] Namyalg commented on #94
Hi @ankitdobhal , please review issue #116.

[2020-08-21 22:48] AnanyaP-WDW commented on #91
I want to work on this issue

[2020-08-21 22:49] AnanyaP-WDW commented on #92
I want to work on this issue

[2020-08-22 04:44] SKAUL05 opened #195 "Scrap Top Movies from IMDB"
Scrap top **`250`** movies from **`IMDB`** and generate a **`CSV`** file for it

- Use [IMDB URL](https://www.imdb.com/chart/top/?ref_=nv_mv_250) for scraping

[2020-08-22 04:45] rutujadhanawade commented on #195
can I work on this.

[2020-08-22 04:53] SKAUL05 commented on #195
Go Ahead @rutujadhanawade

[2020-08-22 05:02] SKAUL05 commented on #182
@AdityaAshvin Closing this as already there is an issue raised previously #97

[2020-08-22 05:02] #182 closed, assigned to nobody

[2020-08-22 05:08] kaustubhgupta opened #196 "Scrap The Subreddit"
Scrap the important features like Titles of post, author, number of comments, upvote to downvote ratio and many more provided the name of the Subreddit.

Languages:
Python

Output:
CSV Files

@SKAUL05 please assign this issue to me and assign the appropriate labels to it (I think it can be made under medium category as I will convert the data obtained into csv, make it fully dynamic)😃

[2020-08-22 05:11] SKAUL05 commented on #196
Go ahead @kaustubhgupta
Make sure CSV generated is attached while you raise Pull Request.
Include `requirements.txt` file also.

[2020-08-22 11:53] TechTarun commented on #92
I have done with my source code. I have one small doubt, as per message in slack I should push the code in separate branch right?

[2020-08-22 12:31] kaustubhgupta commented on #196
@SKAUL05 PR #198 solves this issue

[2020-08-22 18:32] Neilblaze commented on #92
@EpcLoler go for it! :+1:

[2020-08-22 18:34] Neilblaze commented on #92
@TechTarun Yes! Follow the contributions [guide](https://github.com/ankitdobhal/Awesome-Python-Scripts/blob/master/Contribution.md) to get started!

[2020-08-22 18:38] Neilblaze commented on #94
A message to every participants, mentors and PA's are trying their best to review and help your PR get merged. Have faith upon us, do spare us some time to review individual PR's.

Earnest co-operation is highly solicited!

[2020-08-23 06:03] kritikaparmar-programmer opened #204 "Color Detection using OpenCV"
In this we will build an application through which we can automatically get the name of the color by clicking on the color in an image. And for this, we will have a data file that contains the color name and its values.
I will use OpenCV and Pandas..

[2020-08-23 06:04] kritikaparmar-programmer commented on #204
I want to work on this..

[2020-08-23 06:57] #186 closed, assigned to nobody

[2020-08-23 19:22] rahulreghunath opened #211 "Bug in Amazon-price-tracker"
Hi,

I found a bug in Amazon-price-tracker script, which crashes the process if the given product is not available or out of stock.

The original error is
[code]

[2020-08-24 09:36] simarpreetsingh-019 commented on #93
@disha2sinha
I would like to work on this issue.  My programs would be :
[1].  Detecting geometrical shapes  in an image using OpenCV,
[2].  Second would be to implement canny edge detection, and also the Laplacian method.
[3].  Face and eye detection could be both as well as separated ones as you would suggest using open CV
 will open other issues after solving these first.
 While assigning me th

[2020-08-25 09:12] Namyalg commented on #94
I would like to work on a script to convert text to speech

[2020-08-25 15:28] nirala96 commented on #195
can I work on this

[2020-08-25 16:04] SKAUL05 commented on #195
Already assigned to @rutujadhanawade

[2020-08-26 12:56] kaustubhgupta opened #216 "Twitter Videos downloading"
A python script which will download the video of the tweet given the link of the tweet.

Languages:
Python

Output:
Video

@SKAUL05 @ankitdobhal please assign me this issue & apply the appropriate labels to it. Again it can be considered as medium level script else your call.

[2020-08-26 13:08] SKAUL05 commented on #216
@kaustubhgupta Go Ahead with it
@ankitdobhal Pls assign labels and assignee

[2020-08-27 03:15] nirala96 commented on #92
I want to work on this Issue

[2020-08-27 09:42] rjn01 commented on #93
I want to work on this issue.

[2020-08-27 11:28] Neilblaze commented on #92
Go for it! @nirala69

[2020-08-27 13:31] neha07kumari commented on #97
Please assign me this issue. @ankitdobhal

[2020-08-27 13:36] neha07kumari commented on #92
Please assign me this issue @Neilblaze

[2020-08-27 14:09] Neilblaze commented on #92
@neha07kumari Sure! Go for it :rocket:
If you get stuck feel free to drop a dm at slack. :smiley:

[2020-08-27 15:09] jivthesh commented on #133
@ankitdobhal can i work on this

[2020-08-27 15:45] #195 closed, assigned to rutujadhanawade

[2020-08-27 16:29] #196 closed, assigned to kaustubhgupta

[2020-08-27 17:03] anshdhinhgra47 commented on #91
Sir, I want to contribute

[2020-08-27 20:14] sharur7 commented on #93
@disha2sinha I want to work on Cartoonifying an image task

[2020-08-28 06:03] disha2sinha commented on #93
Face detection is already done..You can carry on with the rest

[2020-08-28 07:06] kaustubhgupta commented on #216
@SKAUL05 can you assign the labels so that I can start working depending upon the difficulty level

[2020-08-28 10:27] GudlaArunKumar commented on #91
@SKAUL05 I would like to work on this issue for creating basic Multi threading program

[2020-08-29 18:43] devanshi-katyal commented on #133
i would like to work on this issue

[2020-08-30 06:45] abhishek-mishra17 commented on #94
hi @ankitdobhal  I have added a python script to get current location , please review my pull request #229 , I have added the output in the readme file as you had asked me , please fell free to give any suggestions.

[2020-08-30 08:44] Namyalg commented on #92
I would like to write a script to get the lyrics of a song.

[2020-08-30 09:33] Neilblaze commented on #92
Great! Just create the PR & we'll review.

[2020-08-30 14:49] nirala96 opened #231 "Scrape Restaurant's details from zomato"
A python script that will scrape details of restaurants of Gandhinagar, Ahmedabad from [zomato](https://www.zomato.com/ahmedabad/gandhinagar-restaurants?page=1)

**Languages-**
 - python

**Output-**
- CSV

@SKAUL05 @ankitdobhal  please assign me this issue & apply the appropriate labels to it. It can be considered as medium level script else your call.

[2020-08-30 18:02] amandp13 commented on #92
@ankitdobhal Please review #199

[2020-08-31 06:30] kritikaparmar-programmer commented on #204
Can anyone of the mentors or @ankitdobhal please reply.. Its been 8 days. Atleast I can expect an answer..😕

[2020-08-31 15:12] sameersrivastava13 opened #236 "Script to Create an Amazon S3 Bucket"
## Description
If you want to create a S3 bucket using Python instead of creating it from the console. You can use the boto3 library for accessing AWS using Python.

## Language

-  Python

[2020-08-31 15:12] sameersrivastava13 commented on #236
@SKAUL05 @ankitdobhal  please assign me this issue.

[2020-08-31 16:06] Namyalg commented on #94
Hi @ankitdobhal , I would like to know if I have to make any changes to issue #214.

[2020-08-31 16:10] Namyalg opened #237 "Whatsapp bot to get COVID statistics"
In this script, I aim to build a Whatsapp bot, that will display the current statistics of COVID-19 given a county or any Indian state or district

[2020-08-31 16:10] Namyalg commented on #237
Please assign this issue to me

[2020-08-31 17:32] NayanPrakash11 commented on #92
@ankitdobhal dobhal. I want to work on this issue. Please allow me. This will be my first ever contribution.

[2020-08-31 17:34] NayanPrakash11 commented on #91
@ankitdobhal. I want to work in this project please allow me.

[2020-09-01 15:10] zenit-abh commented on #93
I would like to work on this issue @ankitdobhal  sir

[2020-09-01 19:02] Namyalg commented on #92
I would like to work on this issue.

[2020-09-02 15:48] powerexploit commented on #204
I have assigned issue work on it .

[2020-09-02 19:51] Namyalg commented on #93
@disha2sinha , I would like to know if I have to make any changes in #165

[2020-09-03 04:35] mrjeevan opened #244 "can i add these scripts..."
[scripts](https://github.com/mrjeevan/Python_Stuff)

[2020-09-03 09:14] simarpreetsingh-019 opened #245 "Detecting Geometrical shapes In an Image"
Detecting Geometrical shapes In an Image using OpenCV and python.
Languages:
Python
OpenCV

Output:
Image

@disha2sinha has assigned me this issue in #93 , but I didn't have any issue reference to make a pull request, that's why I created this.
@disha2sinha @ankitdobhal please apply the appropriate labels to it. Again it can be considered as medium level script else your call.

[2020-09-03 11:51] simarpreetsingh-019 opened #246 "Detecting geometrical shapes in an image using OpenCV"
@disha2sinha
I would like to work on this issue.  My programs would be :
[1].  Detecting geometrical shapes  in an image using OpenCV,
[2].  Second would be to implement canny edge detection, and also the Laplacian method.
[3].  Face and eye detection could be both as well as separated ones as you would suggest using open CV
 will open other issues after solving these first.
 While assigning me th

[2020-09-03 11:52] #245 closed, assigned to nobody

[2020-09-03 11:54] simarpreetsingh-019 commented on #246
Detecting Geometrical shapes In an Image using OpenCV and python.
Languages:
Python
OpenCV

Output:
Image

@disha2sinha @ankitdobhal please apply the appropriate labels to it. Again it can be considered as medium level script else your call.

[2020-09-04 04:46] rutujadhanawade commented on #92
@Neilblaze I want to add a script which will Scrap the instagram.
 As a part of CH20.

[2020-09-04 07:03] yashaswibiyahut commented on #94
I would like to automate the whole commit process using git. please assign me @ankitdobhal

[2020-09-04 09:33] varshachary opened #248 "FLAMES Game"
This is a simple implementation of the FLAMES game where two names are given as input(string) and the number of unique letters is calculated. The correct letter corresponding to the names is found. It is named after the acronym: Friends, Lovers, Affectionate, Marriage, Enemies, Sibling

Input: Player1 = AJAY, Player2 = PRIYA
Output: Friends

[2020-09-04 09:35] varshachary commented on #248
@SKAUL05 @ankitdobhal please assign me this issue & apply the appropriate labels to it. Thanks in advance.
Note: I am a CH20  participant

[2020-09-04 10:59] tanay13 opened #249 "Script to show only particular color in a video using OpenCV ."
Using the trackbar  user can adjust the lower and upper limit for the (h,s,v) value and with corresponding value only the particular color will be detected by the video .

[2020-09-04 12:23] yashaswibiyahut commented on #91
I would like to work on Activity selection problem. Please assign me @SKAUL05

[2020-09-04 16:41] Namyalg opened #251 "Conway's Game of Life in PyGame"
This script implements the famous Conway's Game of Life in PyGame

[2020-09-04 21:49] Neilblaze commented on #92
@NayanPrakash11 @rutujadhanawade Sure! Go for it :+1: :smiley:

[2020-09-04 21:51] Neilblaze commented on #94
@Namyalg reviewed!

@yashaswibiyahut Sure! Create a PR & mention me or Ankit over there!

[2020-09-04 21:57] Neilblaze commented on #231
@nirala69 **Don't** create individual issue! The issue which you're suggesting to work upon comes under [Web Scraping](https://github.com/ankitdobhal/Awesome-Python-Scripts/issues/92). It's recommended to close this issue and state your topic there!

[2020-09-05 02:35] #231 closed, assigned to nobody

[2020-09-06 14:42] #246 closed, assigned to nobody

[2020-09-06 15:13] kaustubhgupta commented on #216
@SKAUL05 @ankitdobhal  I am not able to complete this script as it is taking a lot of effort to analyze the twitter source code. There are some libraries which are promising but I am not able to integrate it. Also, there are websites to do the same but that would not serve the purpose of this project. So for now I am unassigning myself and closing this issue. If anyone else is interested that pers

[2020-09-06 15:13] #216 closed, assigned to nobody

[2020-09-06 15:34] kaustubhgupta opened #256 "Extract Tables from PDF"
Description:
This script will extract the tables from PDF files and convert them into CSV files.

Language:
Python

Output:
CSV

Assignee:
Self

[2020-09-06 15:35] kaustubhgupta commented on #256
@ankitdobhal @SKAUL05 assign me this issue under CH20 label and difficulty tag.

[2020-09-07 04:23] #244 closed, assigned to nobody

[2020-09-07 20:05] rjn01 opened #259 "Script to generate new lyrics from input lyrics."
@ankitdobhal Can you assign me this issue and also add an appropriate label. It uses Markov Chains to generate new Lyrics from the given input lyrics.
Note: I am a CH20 participant.

[2020-09-08 14:10] Yuvraj-kadale commented on #94
Hello @ankitdobhal  I would like to automate google meet joining at a scheduled time. (keeping the camera and microphone off)
kindly, assign it to me!

[2020-09-09 07:28] Neilblaze commented on #94
@Yuvraj-kadale Go for it! :+1:

[2020-09-09 07:44] Pranjalmishra30 commented on #93
I would like to work on this issue.
I want to crop images / select Region of images using mouse events.

[2020-09-10 06:17] rutujadhanawade commented on #92
@Neilblaze  I want to add following scripts:
- songs lyrics finder
- times of india scraper

[2020-09-10 06:32] Neilblaze commented on #92
@rutujadhanawade Shoot the works! :+1:

[2020-09-10 11:59] kaustubhgupta commented on #256
As discussed I am making PR in automation scripts

[2020-09-10 11:59] #256 closed, assigned to nobody

[2020-09-10 12:05] kritikaparmar-programmer opened #262 "Making Calculator using Tkinter (GUI)"
We can add the script in python to build User Interactive Calculator using Tkinter which is a GUI toolkit.
The user have a choice to do any operation.
We will have to define all the functions and the user interactive buttons and more..

This is more user friendly than the simple command line calculator ..
I have a screenshot of the calculator:

![calcula](https://user-images.githubusercontent.com/

[2020-09-10 12:06] kritikaparmar-programmer commented on #262
@ankitdobhal , please take a look at this issue..
I want to work on this..

[2020-09-10 13:15] kaustubhgupta commented on #94
@ankitdobhal Made PR #263  @Neilblaze review  and merge !

[2020-09-11 14:36] ankitapuri commented on #91
@SKAUL05   Can I work on adding python script for random password generator

[2020-09-12 12:16] Namyalg opened #265 "Automate sending messages in Telegram"
This script can be used to send messages automatically in Telegram from the command line

[2020-09-14 14:12] powerexploit commented on #262
@kritikaparmar-programmer I have assigned you can start working on it.

[2020-09-15 13:57] sharur7 commented on #93
I want to add code for the original image converting into the sepia image.  @disha2sinha

[2020-09-17 06:45] hisandeepangara commented on #91
I would like to contribute.

[2020-09-17 06:49] rutujadhanawade opened #270 "Script to scrap Weather information."
I want to add a python script which will be doing the following things:
Scraping Google weather search page to extract according to the region and language.
 -  current weather
- Temperature max min
- next days weather
- humidity
- precipitation
- wind

[2020-09-17 06:50] rutujadhanawade commented on #270
@ankitdobhal please assign this issue to me and add relevant labels(hard)

[2020-09-17 09:20] simarpreetsingh-019 commented on #94
@Namyalg  @ankitdobhal I would like to make a Typing speed tester using python.  Please assign me this issue.

[2020-09-17 09:25] simarpreetsingh-019 opened #271 "Story reader using Python"
I want to make a story reader which will read the story from pdf or txt files.
You can assign an appropriate label to it, I will suggest to count it under medium or hard.
@ankitdobhal, project mentors ,  please review.

[2020-09-18 16:27] #204 closed, assigned to SKAUL05, powerexploit, kritikaparmar-programmer

[2020-09-19 12:22] amit-singh1 commented on #91
I would like to contribute

[2020-09-19 17:13] Namyalg commented on #251
Please do let me know if I have to make any changes with regard to this issue

[2020-09-19 17:14] Namyalg commented on #237
@ankitdobhal , I would like to know if I have to make any changes to these scripts

[2020-09-20 11:40] simarpreetsingh-019 commented on #94
I want to make a story teller using Python. #271 . Please assign me this.

[2020-09-20 19:29] Neilblaze commented on #94
@simarpreetsingh-019 Sure! go for it. :+1:

[2020-09-20 19:32] simarpreetsingh-019 commented on #94
@Neilblaze could you please add label to my issue ? Would be great help.

[2020-09-21 04:13] LamYeeTong commented on #91
Hello, I would like to contribute. Thanks.

[2020-09-22 06:22] #262 closed, assigned to kritikaparmar-programmer

[2020-09-22 06:24] kritikaparmar-programmer commented on #265
Hey @ankitdobhal and @Namyalg is anyone assigned for this issue??

[2020-09-22 06:27] Namyalg commented on #265
Yes, the PR has been merged

[2020-09-22 06:37] kritikaparmar-programmer commented on #265
Then better close this issue..😅

[2020-09-22 06:54] #265 closed, assigned to nobody

[2020-09-22 06:58] Namyalg opened #273 "Python-Telegram Bot"
This is a bot that dispenses memes, jokes, riddles and much more. It can be found on Telegram by the username -Laugh_Out_Loud_bot

[2020-09-22 06:59] Namyalg commented on #273
Please assign this issue @ankitdobhal

[2020-09-22 08:39] keivalya commented on #91
Hello, World!
I'd like to contribute to this by making an interesting BEGINNER's game. It's called Dungeon.
It uses nested if-elif-else statements. Extreamly easy to make.

A perfect, fun way to get anyone engaged into Programming in Python.

[2020-09-22 08:40] anut123 commented on #92
I am going to start my work, please assign to me @ankitdobhal @Neilblaze

[2020-09-22 09:01] kaustubhgupta commented on #92
@anut123 hi, you can start your work and ping this issue in your pull request. Any mentor or project admin will review your work. This issue is not assigned to anyone explicitly 😃

[2020-09-22 18:26] Namyalg opened #276 "Desktop notifier that displays a joke"
This script will display a joke from the pyjokes package on Windows as a desktop notification with an interval of 30 minutes.

[2020-09-24 05:15] amandp13 commented on #92
@ankitdobhal @Neilblaze Please review #199

[2020-09-24 07:12] salonishah01 commented on #93
I want to add a code for hough transformation. @disha2sinha

[2020-09-24 09:57] shraddhavp opened #282 "Python hand writing recognizer"
@ankitdobhal  sir can you please assign me this issue?

[2020-09-25 14:47] powerexploit commented on #282
@shraddhavp I have assigned issue to you .

[2020-09-26 09:24] shraddhavp opened #285 "Personality prediction system using python"
@ankitdobhal sir please assign me this issue

[2020-09-28 02:51] LamYeeTong commented on #248
Hi, is this still available? If it is can I contribute to this?
Thanks in advance.

[2020-09-28 04:17] LamYeeTong commented on #92
Hi, I would like to contribute the scripts using Python @ankitdobhal @Neilblaze.
Thanks in advance.

[2020-09-28 08:48] varshachary commented on #248
Hi @LamYeeTong, I have already posted my code for this issue and it has not been reviewed for a month. I am not sure if it can be assigned to you

[2020-09-28 08:51] LamYeeTong commented on #248
Okay, thanks for the info.

[2020-09-30 18:52] mrsiejas opened #295 "BMI Calculator"
Create a python script which calculates the Body Mass Index (BMI).
Please assign me to the issue.

[2020-10-01 05:07] mrsiejas commented on #295
@chawlaj100 mentioned I will be working on this in the issue description.

[2020-10-01 05:56] dcs-soni commented on #1
Hi. I want to contribute in this project. Would love to add Python scripts

[2020-10-01 06:56] PinkyWalia commented on #1
Adding Sequentially Mergesort #299
@ankitdobhal  Please review and merge

[2020-10-01 10:50] harshareddy794 commented on #94
@ankitdobhal  I want to work on this issue

[2020-10-01 13:49] #1 closed, assigned to nobody

[2020-10-02 04:59] Yuvraj-kadale commented on #94
@Neilblaze #284  changes are done as said...kindly review!!

[2020-10-02 06:32] SoniGarima opened #321 "Face Morphing Script in Python"

[2020-10-02 06:33] #321 closed, assigned to nobody

[2020-10-02 06:41] SoniGarima opened #322 "Face Morphing Script in Python"
Could I add a script in python which, when given 2 face images, will return a gif of face transition from one picture to another?

[2020-10-02 07:36] harsh7x18 commented on #94
I would like to work on this issue. I will write python script to automate movies and TV series search.

[2020-10-02 07:48] harsh7x18 commented on #94
Automated movies and TV series search #324. Added the python script, kindly review!

[2020-10-02 09:25] #285 closed, assigned to nobody

[2020-10-03 08:20] #270 closed, assigned to nobody

[2020-10-03 08:29] Preetesh21 opened #327 "Stippling Effect"
Add the script which returns the stippled art form of the image.Can I work on it ?

[2020-10-13 06:41] Namyalg commented on #273
Hi @ankitdobhal , can you please review this PR

[2020-11-27 22:15] brunohomma commented on #93
I would like to work in this issue.

[2020-11-27 22:50] ghost commented on #276
hey can I give this a shot?

[2020-12-05 05:31] sakthiuma commented on #91
Hi I would like to contribute

[2020-12-25 04:59] Banseedhar01 commented on #91
@ankitdobhal    I would like to contribute by making a youtube video downloader.

[2020-12-25 05:06] Banseedhar01 opened #338 "Yotube video downloader"
I want to make a youtube video downloader and it's GUI. plz, assign this issue to me.

[2021-01-10 19:19] amandp13 opened #339 "SCRIPT TO EXTRACT IMAGE METADATA"
- A python script to extract metadata from the image given.

[2021-01-10 19:21] amandp13 commented on #339
@ankitdobhal I would like to work on this issue as SWOC 2021

[2021-03-03 04:55] asifshaik02 commented on #91
I would like to contribute by making a script that can organize files in a folder. can I?@SKAUL05

[2021-03-16 03:12] emlynazuma commented on #91
I would like to work on this python scripts.

[2021-04-07 05:10] mhhabib commented on #91
Would like to contribute a new script about to find location to IP address

[2021-05-28 04:11] #91 closed, assigned to SKAUL05, powerexploit

[2021-05-28 04:12] #282 closed, assigned to shraddhavp